.label {
    -fx-font-size: 13pt;
    -fx-text-fill: #2b2b2b;
}

.user-dialog {
    -fx-background-color: #dcf2ff;
    -fx-background-radius: 12;
    -fx-padding: 4;
}

.eve-dialog {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 12;
    -fx-padding: 4;
}
